body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: wheat;  
  color: beige;
  text-align: center;
  margin: 0;
  height: 100vh;
  min-height: 100%;
}

main, header, footer {
    width: 75%;
}

main {
    height: 100%;
}

nav {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: olivedrab;
  color:white;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

.info {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: orange;
}

#home-img {
    height: 500px;
}


.table-container {
  padding-top: 25px;
  background-color: #C87E1D;
  flex-direction: column;
  padding-bottom: 25px;
}

.forms-container {
  padding-top: 25px;
  display: flex;
  flex-direction: row;
  background-color: #A13D51;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 25px;
  width: 100%;
}


ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

li {
  list-style-type: none;
  margin-left: 20px;
}

table {
  color: white;
  border-collapse: collapse;
  table-layout: fixed; /* Set the table layout to fixed */
  margin: 0 auto;
}

tbody {
  display: table;
  width: 100%;
}

tr {
  display: table-row;
}

th,td {
  display: table-cell; /* Make each cell behave like a table cell */
  text-align: center; /* Align the content within the cell horizontally (center, left, right, etc.) */
  padding: 10px; /* Add padding to create space around the content */
  border: 1px solid white; /* Add borders to the cells (optional) */
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: burlywood;
}

fieldset {
  width: fit-content;
  margin: 20px auto;
  padding: 20px;
}

form {
  display: block;
}

input, label {
  display: block;
}

label {
  margin-top: 10px;
  text-align: left;
}

input {
  margin: 5px auto;
}

fieldset {
  display: block;
}

select {
    min-width: 25%;
}

option {
    text-align: center;
}


footer {
    background-color: #464CA9;
    height: 50px;
    bottom: 0;
    color: white;
}
